pip install rpy2
pip install tqdm
pip install pandas-datareader
conda install -c conda-forge nodejs
pip install ipywidgets
jupyter nbextension enable --py widgetsnbextension
jupyter labextension install @jupyter-widgets/jupyterlab-manager